* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    background-color: #F1F5FE;
    padding-left: 129.84px;
    padding-right: 84.5px;
    
}

.nav-logo {
    display: none;
}

.sec1 {
    display: flex;
    align-items: center;
    text-align: start;
   justify-content: space-between;
    color: #A3A3A3;
    background-color: #000000;
    padding:56px 120px 0;
}

nav{
    display:flex;
    gap:103px;
    align-items:center;

}

.ist {
    color: #155EEF;
}

nav button {
    
    color: blue;
    padding: 10px 16px;
    border: 1px solid #155EEF;
    border-radius: 8px;
    cursor: pointer;
}

.sec1 button {
    color: blue;
    padding: 10px 16px;
    border: 1px solid #155EEF;
    border-radius: 8px;
}

.text {
    padding-bottom: 98px;
}

.sec1 h2 {
    font-size: 56px;
    font-weight: 600;
    color: #A3A3A3;
    margin-bottom: 8px;
}

.sec1 p {
    font-size: 32px;
    font-weight: 500;
    font-family:  'Manrope', sans-serif;
    margin-bottom: 8px;
    margin-right: 90px;
}

.sec1 button {
    font-size: 13px;
    font-weight: 600;
    font-family: 'manrope';
    background-color: blue;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    
    font-family: 'Halant', serif;
}

/*section 2 */

.sec2 {
    display: flex;
    text-align: start;
    align-items: start;
    background-color: white;
    color: black;
    padding: 32px 120px;
}

.sec2 h3 {
    font-family: 'halant';
    font-size: 24px;
    font-weight: 600;
    line-height: 25.2px;
    color: #000000;
    padding-top: 48px;
    padding-bottom: 18px;
    padding-left: 157px;

}

.sec2 p {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 400px;
    line-height: 30.2px;
    padding-left: 157px;

}

.sec2 button {
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    border: 1px solid blue;
    border-radius: 10px;
    align-items: start;
    
   
}

.butt {
    padding-left: 157px;
    padding-top: 42px;
    
}

.blue {
    color: #FFFFFF;
    background-color: blue;
    padding-top: 5px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}

.white {
    color: #155EEF;
    background-color: #F5F8FE;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    
}

/* footer */

.foot {
    background-color: #000000;
    padding: 17px 0px 17px 129.84px;
   
}

.icon{
    display:flex;
    align-items:center;
    gap: 20px;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 300px;
   
}



.input {
    color: white;
    font-size: 1rem;
    font-family: 'manrope';
    font-weight: 500px;
    padding-top: 0px;
    
}

@media screen and (max-width:900px) {
    .sec1 {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: ;
    

        grid-gap:30px;
        
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    
    }

    #item1 {
        order: 2;
    }

    #item2 {
        order: 1;
    }

    .text{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 16px;
            
    }
    .BG {
        font-family: halant;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: center;
    }

    .sec1 p {
        margin-right: 0;
    }

    .sec1 h2 {
        font-family: halant;
        font-weight: 600;
        font-size: 24px;
        line-height: 28.8px;
        text-align: center;
    }

    .info {
        font-family: manrope;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0.9px;
        text-align: center;
        color: #A3A3A3;

    }

    .sec1 button {
        display: block;
        padding: 10px, 16px, 10px, 16px;
        width: 100%;
        height: 44px;
    }

        
   
    .sec2 {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        
    }

    .sec2 p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    .sec2 h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 38px;
        padding-top: 16px;
        padding-bottom: 8px;
    }

    .sec2 p, .butt, .sec2 h3 {
        padding-left: 0px;
    }

    .bm {
        display:block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .butt {
        padding-top: 10px;
        padding-bottom: 20px;

    }



    #img {
        display: none;
    }

    .foot {
        display: inline-block;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        gap: 0px;
       
    }

    .flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0; 
    
    }

    nav {
        display: none;
    }

    .nav-logo {
        display: flex;
    }

    header {
        padding-left: 22.9px;
        padding-right: 19px;
    }
    
    
}
